.header {
    max-width: 100vw;
    height: auto;
    position: relative;


.nav {
margin: 0;
background-color: black;
width: 100vw;
height: 80px;
position: absolute;
top:0;
left:0;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
position: fixed;
z-index:2;
overflow: hidden;

&__logo {
    color: white;
    width: 100px;
    margin: 0 1rem;
}

&__menu{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;

    .nav__icon {
        display: flex;
        width: 2rem;
        height: .2rem;
        border-radius: 100px;
        background-color: white;
        display: flex;
        justify-content: right;
        z-index:3;
    
        &::before{
            content: " ";
            position: absolute;
            width: 1rem;
            height: inherit;
            border-radius: inherit;
            background-color: white;
            transform: translateY(-12px);
        }
        &::after{
            content: " ";
            position: absolute;
            width: 3rem;
            height: inherit;
            border-radius: inherit;
            background-color: white;
            transform: translateY(12px);

        }}
        &:hover {
            cursor: pointer;
        }
    }

    .list {
        height:auto;
        transform: translateY(-100%);
        width:100%;
        z-index:-2;
        list-style: none;
        position: fixed;
        top: 0rem;
        right:0;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &__item {
            margin: 2rem;
            color: black;
            z-index: -1;
            text-transform: uppercase;
            list-style: none;

        }
            &__link {
                font-weight: bold;
                font-size: 1rem;
                color: white;
                text-decoration: none;

        &:hover {
            color: orange;
            transition: all .3s ease-in-out;
        }
            }
            
    
    }

    &__button {
        margin: 2rem;
        display: none;
        color: black;
        background-color: white;
    }

    .active {
        height: auto;
        transform: translateY(0%);
        transition: .5s ease-out;
    }
}

&__section {
    margin: auto;
    margin-top: 85px;
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    .header__text {
        text-align: center;
        justify-content: center;
        font-family: 'Lato', sans-serif;
    
        .heading {
            font-size: 36px;
            margin: 1rem;
            letter-spacing: 2px;
        }
        .description {
            font-size: 1rem;
        }

    .header__picture {
      max-width: 50%;

      .header__image {
        object-fit: cover;
      }
    }

}}
}
    

