@media (min-width: 768px) {
    .header {
        .nav {
            z-index: 1;
            position: relative;

            .nav__menu {
                display: none;
            }

            .list {
                transform: translateY(0%);
                position: absolute;
                top: 28px;
                right: 0;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                &__item {
                    margin: 0 1rem;
                    z-index: 2;
                    color: white;
                }
            }

            &__button {
                display: block;
            }
        }
    }
}

@media (min-width: 1016px) {
    .offert {
        flex-direction: row;
    }
    .offert__box {
        width: 300px;
    }

    .header__section {
        flex-direction: row;
        justify-content: center;
        align-items:end;
        width: 80%;

        .header__picture {
            width: 100%;
        }

        .header__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .description {
                width: 55%;
            }
        }
    }
}
