@import url('https://fonts.googleapis.com/css2?family=Lato&family=Smooch+Sans:wght@700&display=swap');

@import "header";
@import "offert";
@import "footer";
@import "media";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Smooch Sans', sans-serif;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

.button {
    width: 163px;
    height: 45px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    height: auto;
    transform: translateY(0%);
    transition: .5s ease-out;
    z-index: 5;
}